{{define "footer"}}

<style>
html {
    background-color: #005189;
}
footer {
    padding: 20px;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
}

</style>

<footer>
    <div class="footer_links"><a href="https://github.com/hydroflame/godzilla">GitHub</a> </div>
</footer>

</body>
</html>
{{end}}
