{{define "footer"}}

<footer>
    <div class="footer_links">
        <a href="/">Home</a> |
        <a href="https://github.com/hydroflame/godzilla">GitHub</a>
    </div>
</footer>

</body>
</html>
{{end}}
