{{define "header" -}} 
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/pure-min-0.6.0.css">
    <link rel="stylesheet" type="text/css" href="/static/grids-responsive-min-0.6.0.css">
    <link rel="stylesheet" type="text/css" href="/static/site.css">
    <title>{{ if .Title }}{{ .Title }} - {{ end }}Godzilla.me</title>
</head>
<body>
{{end}}
