{{ template "header" . }}

<div class="splash">
    <h1>Godzilla is a mutation testing tool for Go.</h1>
    <div class="pure-g">
        <div class="logo-col pure-u-1-2">
            <img src="/static/godzilla-trans.png" width="256" style="max-width:100%;">
        </div>
        <div class="form-col pure-u-1-2">
            <p>Mutation testing evaluates the quality of the existing tests in a package, by modifying the already tested
            code in a subtle way, it produces a mutatant, the existing tests are ran and are expected to fail (due to the
            mutation), if the tests pass, it shows the tests were not satisfactory.</p>
            <p>Godzilla automates this process for you, with its own set of mutations. Do note however, some false positives
            are possible, so read through the results, decide for yourself whether the mutation correctly discovered
            an opportunity to improve your tests.</p>
            <form action="/submit" method="post" class="pure-form">
                <input id="pkg" type="text" name="pkg" value="github.com/" title="go get-able path" placeholder="github.com/user/package" required/>
                <button id="submitPkgBtn" type="submit" class="pure-button">Go</button>
            </form>
        </div>
    </div>
</div>

<div class="content">
    <div class="md">
        {{ template "generated-readme" . }}
    </div>
</div>

{{ template "footer" . }}
